/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body {
  background: black url(../images/px_by_Gre3g.png) repeat;
  font: 16px/1.5 Questrial, serif;
  color: #777; }

a:link, a:visited, a:hover {
  color: #000;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: Questrial, serif; }

#section-header {
  background: #eeeeee url(../images/brushed_alu.png) repeat-x scroll top;
  border-bottom: 1px solid #ddd; }
  #section-header h1.site-name,
  #section-header h2.site-name {
    margin-bottom: 20px; }
  #section-header h1.site-name a,
  #section-header h2.site-name {
    font-family: 'Fredericka the Great', 'sans serif';
    font-weight: lighter;
    font-size: 40px; }
  #section-header .user-navigation {
    font-size: 14px;
    line-height: 1.5;
    text-align: right; }

#section-content {
  background: #fff; }
  #section-content h1,
  #section-content h2,
  #section-content h3,
  #section-content h4,
  #section-content h5 {
    margin-bottom: 10px;
    color: #000; }
  #section-content h1.title {
    font-size: 20px; }
  #section-content ul {
    padding-left: 40px;
    margin-bottom: 1em; }
  #section-content ul.vertical-tabs-list {
    padding-left: 0;
    margin-bottom: 0; }
  #section-content div.view-openblog-archive .item-list li {
    list-style: disc; }
  #section-content div.view-openblog-archive .item-list ul li {
    margin: 0; }
  #section-content pre {
    background: #eee;
    overflow: auto;
    color: #000;
    padding: 20px 15px;
    margin-bottom: 10px; }
  #section-content code {
    font-family: 'Inconsolata', sans-serif; }
  #section-content footer.submitted {
    font-weight: bold;
    margin-bottom: 10px; }
  #section-content #zone-content-wrapper {
    padding-top: 10px; }
  #section-content #section-footer {
    border-top: 2px solid #000; }
