/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  background: #000 url(../images/px_by_Gre3g.png) repeat;
  font: 16px/1.5 Questrial, serif;
  color: #777;
}

a:link, a:visited, a:hover { 
  color: #000;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 { font-family: Questrial, serif; }

#section-header {
  background: #eee url(../images/brushed_alu.png) repeat-x scroll top;
  border-bottom: 1px solid #ddd;

  h1.site-name,
  h2.site-name {
    margin-bottom: 20px;
  }

  h1.site-name a,
  h2.site-name {
    font-family: 'Fredericka the Great', 'sans serif';
    font-weight: lighter;
    font-size: 40px;
  }

  .user-navigation {
    font-size: 14px;
    line-height: 1.5;
    text-align: right;
  }
}

#section-content {
  background: #fff;
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 10px;
    color: #000;
  }

  h1.title {
    font-size: 20px;
  }

  ul {
    padding-left: 40px;
    margin-bottom: 1em;
  }

  ul.vertical-tabs-list {
    padding-left: 0;
    margin-bottom: 0;
  }

  div.view-openblog-archive {

    .item-list {

      li {
        list-style: disc;
      }

      ul li {
        margin: 0;
      }

    }

  }

  pre {
    background: #eee;
    overflow: auto;
    color: #000;
    padding: 20px 15px;
    margin-bottom: 10px;
  }

  code {
    font-family: 'Inconsolata', sans-serif;
  }

  footer.submitted {
    font-weight: bold;
    margin-bottom: 10px;
  }

  #zone-content-wrapper {
    padding-top: 10px;
  }

  #section-footer {
    border-top: 2px solid #000;
  }
}

