/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
#section-header h1.site-name a,
#section-header h2.site-name {
  font-size: 60px; }

#section-content h1.title {
  font-size: 36px; }
