/* This file will hold styles that are loaded using the same media query as the wide grid. */

#section-header {
  h1.site-name a,
  h2.site-name {
    font-size: 75px;
  }

}

#section-content {
  h1.title {
    font-size: 36px;
  }
}

