/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
#section-header h1.site-name a,
#section-header h2.site-name {
  font-size: 50px; }

#section-content h1.title {
  font-size: 24px; }
